<div class="form">
    <div class="input-group">
        <div class="input">
            <input [(ngModel)]="title" class="form-control" type="text" placeholder="Введите наименование" (keyup.enter)="byName()">
            <button (click)="byName()">Найти</button>
        </div>
    </div>
    <div class="input-group">
        <div class="input">
            <input [(ngModel)]="from" class="form-control" type="date" placeholder="Введите начальную дату" (keyup.enter)="byDate()">
            <input [(ngModel)]="to" class="form-control" type="date" placeholder="Введите конечную дату" (keyup.enter)="byDate()">
            <button (click)="byDate()">Найти</button>
        </div>
    </div>
    <button class="btn btn__reset" (click)="reset()">Сброс</button>
</div>
<div class="table__content">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Premiere date</th>
                <th>Status</th>
                <th>Runtime</th>
                <th>Raiting</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of viewlist">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.premiered }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.averageRuntime }}</td>
                <td>{{ item.rating.average }}</td>
            </tr>
        </tbody>
    </table>
<div>
